@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700|Sedgwick Ave Display:100,200,300,400,500,600,700');



/*------------------------------------------HEADER*/
.body {
    background-color: #fafafa;
}
    
.bgheadmaintxt {
    color: white;
    text-align: center;
    font-family: "Sedgwick Ave Display",sans-serif;
    font-size: 35px;
    font-weight: 100;
    margin-top: 30px;
    
}

@media screen and (max-width: 800px) {
  .bgheadmaintxt {
    font-size: 18px;
    margin-top: 30px;
    
    
  }
}


.picturehead {
    background: url("../images/logo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    height: 200px;
    
    
        
}

.picturetext {
    color: white;
    text-align: center;
    font-family: "Sedgwick Ave Display",sans-serif;
    font-size: 60px;
    font-weight: 100;
    position: relative;
    top: 20px;
    
}

@media screen and (max-width: 800px) {
  .picturetext {
    font-size: 40px;
    top: 20px;
    
  }
}



/*------------------------------------------MENU NAVBAR*/

nav {
    background: rgb(64, 40, 14);
    width: 100%
    

}
nav ul {
    list-style: none;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

nav li {
    display: inline-block;
    text-decoration: none;
}

nav li:hover {
    background: #e84610;
    
}

.homemenubutton {
    width: 32%;
    height: 60px;
    background-color: rgb(75, 92, 75);
}

@media screen and (max-width: 800px) {
  .homemenubutton {
    float: none;
    height: 35px;
    
  }
}

.gallerymenubutton {
    width: 32%;
    height: 60px;
    background-color: rgb(75, 92, 75);

}

@media screen and (max-width: 800px) {
  .gallerymenubutton {
    float: none;
    height: 35px;
    
  }
}
.contactmenubutton {
    width: 32%;
    height: 60px;
    background-color: rgb(75, 92, 75);

}

@media screen and (max-width: 800px) {
  .contactmenubutton {
    float: none;
    height: 35px;
    
  }
}

.homemenutxt {
    text-decoration: none;
    font-family: "Exo",sans-serif;
    font-weight: 300;
    color: #fafafa;
    
}

.gallerymenutxt {
    text-decoration: none;
    font-family: "Exo",sans-serif;
    font-weight: 300;
    color: #fafafa;
    
}

.contactmenutxt {
    text-decoration: none;
    font-family: "Exo",sans-serif;
    font-weight: 300;
    color: #fafafa;
    
}
   


/*------------------------------------------BODY PICTURE SECTION*/
.picture {
    background: url("../images/amsterda1.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    height: 500px;
    
}

.cardtest{
  float: left;
  width: 30%;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  
  padding: 0.5em;
  max-height: 500px;
}

img {
    max-height: 450px;
}

@media screen and (max-width: 800px) {
  .cardtest {
    float: none;
    width: 100%;
    
  }
}

img.scaled {
  width: 100%;
}


.gallerysection {
    margin-top: 50px;
    margin-bottom: 50px;
}

.galleryhomesection {
    margin: 25px;
}

/*------------------------------------------ABOUT SECTION*/
.wrapper {
    height: 150px;
}

@media screen and (max-width: 800px) {
  .wrapper {
    float: none;
    height: 360px;
  }
}

.headingabout {
    margin-top: 50px;
}
.aboutclass {
    font-family: "Roboto",sans-serif;
    font-weight: 300;
    width: 84%;
    margin-left: 8%;
    margin-right: 8%;
    height: 100px;
    color: rgb(75, 92, 75);
    text-align: justify;
    padding: 10px;
    
}


/*-----------------------------------------RECENT*/

.recentwrapper{
    margin-bottom: 50px;
    display: block;
}

.recenttxtclass {
    color: rgb(75, 92, 75); 
    text-align: center;
    font-family: "Sedgwick Ave Display",sans-serif;
    font-size: 50px;
    font-weight: 100;

}
.recenttxtclassgallery {
    color: rgb(75, 92, 75); 
    text-align: left;
    font-family: "roboto",sans-serif;
    font-size: 30px;
    font-weight: 100;
    margin-top: 50px;
    margin-left: 100px;

}
.recenttxtclassgallerysignature {
    color: rgb(75, 92, 75); 
    text-align: left;
    font-family: "roboto",sans-serif;
    font-size: 20px;
    font-weight: 100;
    margin-left: 100px;
    
}

@media screen and (max-width: 800px) {
  .recenttxtclass {
    float: none;
    font-size: 35px;
    
  }
}


.recentlinkgallery {
    color: rgb(75, 92, 75); 
    text-align: right;
    font-family: "Exo",sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin-top: 15px;

}

@media screen and (max-width: 800px) {
  .recentlinkgallery {
    float: none;
    font-size: 10px;
    
  }
}


/*------------------------------------------FONTS*/

.uppercase {
    text-transform: uppercase;
}

.headfont {
    color: #fff;
}

/*------------------------------------------adress*/
.addreeshead {
    text-align: center;
    
    font-size:  25px;
}

.contactclass {
    font-family: "Roboto",sans-serif;
    font-weight: 300;
    width: 84%;
    margin-left: 8%;
    margin-right: 8%;
    color: rgb(75, 92, 75);
    text-align: center;
}

.addresswrapper {
    height: 150px;
}

@media screen and (max-width: 800px) {
  .addresswrapper {
    float: none;
    height: 165px;
  }
}

/*------------------------------------------footer*/
  
     



.social-links {
    width: 100%;
    height: 50px;    
    position: relative;
    
    text-align: center;
}

.social-links li a i {
    width: 48px;
    height: 48px;
    padding: 18px 0;
    border-radius: 50%;
    font-size: 19px;
    line-height: 10px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    margin: auto;
}

@media screen and (max-width: 800px) {
  .social-links li a i {
    width: 48px;
    height: 48px;
    padding: 18px 0;
    border-radius: 50%;
    font-size: 19px;
    line-height: 10px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    margin: auto;
  }
}

.social-links li a i:hover {
    background: #e84610;
}




