@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700|Sedgwick Ave Display:100,200,300,400,500,600,700');



/*------------------------------------------HEADER*/
.body {
    background-color: #fafafa;
}
    
.bgheadmaintxt {
    color: white;
    text-align: center;
    font-family: "Sedgwick Ave Display",sans-serif;
    font-size: 35px;
    font-weight: 100;
    margin-top: 30px;
    
}

@media screen and (max-width: 800px) {
  .bgheadmaintxt {
    font-size: 18px;
    margin-top: 30px;
    
    
  }
}


.picturehead {
    background: url("../images/logo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    height: 200px;
    
    
        
}

@media screen and (max-width: 800px) {
  .picturehead {
    height:120px;
    
  }
}


.picturetext {
    color: white;
    text-align: center;
    font-family: "Sedgwick Ave Display",sans-serif;
    font-size: 60px;
    font-weight: 100;
    position: relative;
    top: 20px;
    
}

@media screen and (max-width: 800px) {
  .picturetext {
    font-size: 40px;
    top: 20px;
    
  }
}



/*------------------------------------------MENU NAVBAR*/


button[type=menu] {
    margin-top: 2px;
    margin-left: 1.5px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: rgb(75, 92, 75) ;
    width:33%;

}

@media screen and (max-width: 320px) {
  button[type=menu] {
    width: 32%;
    margin-left: 0.1px;
    
  }
}

@media screen and (max-width: 699px) and (min-width: 301px) {
  button[type=menu] {
    width: 32%;
    text-align: center;
    
  }
}

@media screen and (max-width: 799px) and (min-width: 700px) {
  button[type=menu] {
    width: 32.5%;
    text-align: center;
    
  }
}

@media screen and (min-width: 800px) {
  button[type=menu] {
    width: 32.5%;
    text-align: center;
    
  }
}

button[type=menu]:hover {
    background: #e84610;
}

/*----------------------------------------INDEX FIRST TEXT */

.indextxttopmain {
    color: rgb(75, 92, 75); 
    text-align: center;
    font-family: "Sedgwick Ave Display",sans-serif;
    font-size: 50px;
    font-weight: 100;
    margin-top: 30px; 
    

}
@media screen and (max-width: 800px) {
  .indextxttopmain {
    float: none;
    font-size: 35px;
     margin-top: 5px; 
    
  }
}

.indextxtmiddle {
      color: rgb(75, 92, 75); 
    text-align: center;
    font-family: "Sedgwick Ave Display",sans-serif;
    font-size: 50px;
    font-weight: 100;
    
    

}
@media screen and (max-width: 800px) {
  .indextxtmiddle {
    float: none;
    font-size: 35px;
     margin-top: 5px; 
    
  }


}

.wrappertxtmain {
    height: 350px;
}

@media screen and (max-width: 800px) {
  .wrappertxtmain {
    float: none;
    height: 900px;
    
  }
}

.wrappertxtmiddle {
    height: 200px;
    margin-top: 50px;

}

@media screen and (max-width: 800px) {
  .wrappertxtmiddle {
    float: none;
    height: 420px;
    margin-top: 30px;
  }
}

.aboutclasstxtmain {
    font-family: "Roboto",sans-serif;
    font-weight: 300;
    width: 84%;
    margin-left: 8%;
    margin-right: 8%;
    height: 100px;
    color: rgb(75, 92, 75);
    text-align: justify;
    padding: 10px;
    font-size: 20px;
    
}


/*------------------------------------------BODY PICTURE/GALLEY SECTIONs*/
.picture {
    background: url("../images/amsterda1.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    height: 500px;
    
}

.cardtest{
  float: left;
  width: 30%;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  overflow-y: hidden;  
  padding: 0.5em;
  
}

img {
    max-height: 250px;
}

@media screen and (max-width: 800px) {
img {
    max-height: 100px;
}
}

@media screen and (max-width: 800px) {
  .cardtest {
    float: none;
    width: 100%;
    
  }
}


.gallerysection {
    margin-top: 50px;
    margin-bottom: 50px;
}

.galleryhomesection {
    margin: 25px;
}


.gallerytoptxt {
    height: 350px;
}

/*------------------------------------------ABOUT SECTION*/
.wrapper {
    height: 150px;
}

@media screen and (max-width: 800px) {
  .wrapper {
    float: none;
    height: 360px;
  }
}

.headingabout {
    margin-top: 50px;
}
.aboutclass {
    font-family: "Roboto",sans-serif;
    font-weight: 300;
    width: 84%;
    margin-left: 8%;
    margin-right: 8%;
    height: 100px;
    color: rgb(75, 92, 75);
    text-align: justify;
    padding: 10px;
    font-size: 20px;
    
    
}


/*-----------------------------------------RECENT*/

.recentwrapper{
    margin-bottom: 50px;
    display: block;
}

.recenttxtclass {
    color: rgb(75, 92, 75); 
    text-align: center;
    font-family: "Sedgwick Ave Display",sans-serif;
    font-size: 50px;
    font-weight: 100;
    margin-bottom: 50px;

}
@media screen and (max-width: 800px) {
  .recenttxtclass {
    float: none;
    font-size: 35px;
    
  }
}
.recenttxtclassgallery {
    color: rgb(75, 92, 75); 
    text-align: center;
    font-family: "roboto",sans-serif;
    font-size: 30px;
    font-weight: 100;
    margin-top: 50px;
    width: 86%;
    margin-left: 7%;
    margin-right: 7%; 

}

@media screen and (max-width: 800px) {
  .recenttxtclassgallery {
    float: none;
    font-size: 20px;
  }
}

.recenttxtclassgallerysignature {
    color: rgb(75, 92, 75); 
    text-align: center;
    font-family: "roboto",sans-serif;
    font-size: 20px;
    font-weight: 100;
    
    
}

@media screen and (max-width: 800px) {
  .recenttxtclassgallerysignature {
    margin-left: 25px;
    font-size: 15px;
    
  }
}



.recentlinkgallery {
    color: rgb(75, 92, 75); 
    text-align: right;
    font-family: "Exo",sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin-top: 15px;

}

@media screen and (max-width: 800px) {
  .recentlinkgallery {
    float: none;
    font-size: 10px;
    
  }
}


/*------------------------------------------FONTS*/

.uppercase {
    text-transform: uppercase;
}

.headfont {
    color: #fff;
}

/*------------------------------------------adress*/
.addreeshead {
    text-align: center;
    
    font-size:  25px;
}

.contactclass {
    font-family: "Roboto",sans-serif;
    font-weight: 300;
    width: 84%;
    margin-left: 8%;
    margin-right: 8%;
    color: rgb(75, 92, 75);
    text-align: center;
    
}

.addresswrapper {
    height: 100px;
}

@media screen and (max-width: 800px) {
  .addresswrapper {
    float: none;
    height: 150px;
  }
}

/*------------------------------------------footer*/
  
     
.social-networks{
  text-align: center;
  margin: 0;
  padding: 0;
  
}

.social-networks li{
  display: inline;
  width: 100%;
  
}

.social-networks i{
  font-size: 160%;
  margin: 1%;
  padding: 2%;
  color: #777777;
}

/*----------------------------------------CONTACT*/

.bg-color-contact {
    background-color:#fff;
 }

 .ui-menu-color-contact {
    background-color: #3498db;
}

.contact-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;

}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

@media screen and (max-width:800px){
    .center-form {
        max-width: 90%;
    }
}

.form-control {
    margin-top: 20px;
}

button[type=submit] {
    margin-top: 35px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: rgb(75, 92, 75) ;

}

button[type=submit]:hover {
    background: #e84610;
}

.contactsignature {
    color: rgb(75, 92, 75); 
    text-align: center;
    font-family: "roboto",sans-serif;
    font-size: 30px;
    font-weight: 200;
    
    margin-top: 15px;
    
}

@media screen and (max-width: 800px) {
  .contactsignature {
    
    font-size: 15px;
    
  }
}

.recenttxtclasscontact {
    color: rgb(75, 92, 75); 
    text-align: justify;
    font-family: "roboto",sans-serif;
    font-size: 20px;
    font-weight: 100;
    margin-top: 20px;
    width: 84%;
    margin-left: 8%;
    margin-right: 8%; 

}

@media screen and (max-width: 800px) {
  .recenttxtclasscontact {
    float: none;
    font-size: 17px;
  }
}
